html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

nav, footer { background-color: #0069a6; background-image: linear-gradient(to right, #0069a6 , #0099a8); padding: 1% 0; }

h1 { color: #0099a8; }

.box-form { padding: 5%; margin: -10% auto 5%; }

legend { padding-bottom: 5%; text-align: center; }

label { font-weight: 800; }

.alert-text { text-align: center; color: #c11d1d; font-size: 1rem; }

.btn-custom-1 { background-color: #0099a8; color: #fff; }

.btn-custom-1:hover { background-color: #0069a6; color: #fff; }

.box-result { padding: 5%; margin-bottom: 10%; }

td { text-transform: uppercase; font-weight: 900; font-size: 2.5rem; }

.title-color > td { color:#0099a8; font-weight: 700; font-size: 1.1rem; }

.text-results { font-size: 1.1rem; text-transform: none; text-align: left; height: 80px;}

.td-border { border-left: 3px black solid; padding-left: 3%; }

footer { position: fixed; width: 100%; bottom: 0; }

.footer-text { color: #fff; text-align: center; margin: 0; }

/* helpers */
.mt-15 { margin-top: 15%; }

.mt--10 { margin-top: -10%; }

.mb-5 { margin-bottom: 5%; }

.m-5 { margin: 5%; }

.p-5 { padding: 5%; }

.mt-5-0 { margin: 5% 0 0; }


/* #0069a6 azul escuro */
/* #0099a8 turquesa escuro */
/* #4cd0dc turquesa claro */
/* #e6890c laranja */